<ion-content [fullscreen]="true">
  <google-map
    [options]="mapOptions"
    [center]="mapCenter"
    [height]="'100%'"
    [width]="'100%'"
  >
    <map-circle
      [center]="mapCenter"
      [radius]="mapRadius"
      [options]="mapCircleOptions"
    ></map-circle>
    <ng-container *ngIf="mapMarker">
      <map-marker [position]="mapMarker.position" [options]="mapMarker.options">
      </map-marker>
    </ng-container>
  </google-map>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="mirabile" (click)="getCurrentPosition()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
