// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-mirabile: #b9271a;
  --ion-color-mirabile-rgb: 185, 39, 26;
  --ion-color-mirabile-contrast: #ffffff;
  --ion-color-mirabile-contrast-rgb: 255, 255, 255;
  --ion-color-mirabile-shade: #a32217;
  --ion-color-mirabile-tint: #c03d31;

  --font-family-base: 'Roboto', sans-serif;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-mirabile: #b9271a;
  --color-white: #ffffff;
  --color-standard: #242222;
  --color-standard-note: #4d4a4a;
  --color-placeholder: #afafaf;
  --color-placeholder-object: #9398a6;
  --color-separator: #e0e0e0;
  --color-separator-text: #afafaf;
  --color-content: #f7f7f7;
  --color-black: #000000;
  --color-content2: #fafafa;

  --ion-color-ts-red: #ff6060;
  --ion-color-ts-red-rgb: 255, 96, 96;
  --ion-color-ts-red-contrast: #ffffff;
  --ion-color-ts-red-contrast-rgb: 0, 0, 0;
  --ion-color-ts-red-shade: #e05454;
  --ion-color-ts-red-tint: #ff7070;

  --ion-color-ts-blue: #0299ff;
  --ion-color-ts-blue-rgb: 2, 153, 255;
  --ion-color-ts-blue-contrast: #ffffff;
  --ion-color-ts-blue-contrast-rgb: 255, 255, 255;
  --ion-color-ts-blue-shade: #0287e0;
  --ion-color-ts-blue-tint: #1ba3ff;

  --ion-color-ts-amber: #ffcc66;
  --ion-color-ts-amber-rgb: 255, 204, 102;
  --ion-color-ts-amber-contrast: #000000;
  --ion-color-ts-amber-contrast-rgb: 0, 0, 0;
  --ion-color-ts-amber-shade: #e0b45a;
  --ion-color-ts-amber-tint: #ffd175;

  --ion-color-ts-green: #99cb67;
  --ion-color-ts-green-rgb: 153, 203, 103;
  --ion-color-ts-green-contrast: #ffffff;
  --ion-color-ts-green-contrast-rgb: 0, 0, 0;
  --ion-color-ts-green-shade: #87b35b;
  --ion-color-ts-green-tint: #a3d076;

  --ion-color-ts-grey: #a3a3a3;
  --ion-color-ts-grey-rgb: 163, 163, 163;
  --ion-color-ts-grey-contrast: #000000;
  --ion-color-ts-grey-contrast-rgb: 0, 0, 0;
  --ion-color-ts-grey-shade: #8f8f8f;
  --ion-color-ts-grey-tint: #acacac;
}

.ion-color-mirabile {
  --ion-color-base: var(--ion-color-mirabile) !important;
  --ion-color-base-rgb: var(--ion-color-mirabile-rgb) !important;
  --ion-color-contrast: var(--ion-color-mirabile-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mirabile-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mirabile-shade) !important;
  --ion-color-tint: var(--ion-color-mirabile-tint) !important;
  --ion-toolbar-background: var(--ion-color-mirabile) !important;
}

.ion-color-ts-red {
  --ion-color-base: var(--ion-color-ts-red) !important;
  --ion-color-base-rgb: var(--ion-color-ts-red-rgb) !important;
  --ion-color-contrast: var(--ion-color-ts-red-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-ts-red-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-ts-red-shade) !important;
  --ion-color-tint: var(--ion-color-ts-red-tint) !important;
  --ion-toolbar-background: var(--ion-color-ts-red) !important;
}

.ion-color-ts-blue {
  --ion-color-base: var(--ion-color-ts-blue) !important;
  --ion-color-base-rgb: var(--ion-color-ts-blue-rgb) !important;
  --ion-color-contrast: var(--ion-color-ts-blue-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-ts-blue-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-ts-blue-shade) !important;
  --ion-color-tint: var(--ion-color-ts-blue-tint) !important;
  --ion-toolbar-background: var(--ion-color-ts-blue) !important;
}

.ion-color-ts-amber {
  --ion-color-base: var(--ion-color-ts-amber) !important;
  --ion-color-base-rgb: var(--ion-color-ts-amber-rgb) !important;
  --ion-color-contrast: var(--ion-color-ts-amber-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-ts-amber-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-ts-amber-shade) !important;
  --ion-color-tint: var(--ion-color-ts-amber-tint) !important;
  --ion-toolbar-background: var(--ion-color-ts-amber) !important;
}

.ion-color-ts-green {
  --ion-color-base: var(--ion-color-ts-green) !important;
  --ion-color-base-rgb: var(--ion-color-ts-green-rgb) !important;
  --ion-color-contrast: var(--ion-color-ts-green-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-ts-green-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-ts-green-shade) !important;
  --ion-color-tint: var(--ion-color-ts-green-tint) !important;
  --ion-toolbar-background: var(--ion-color-ts-green) !important;
}

.ion-color-ts-grey {
  --ion-color-base: var(--ion-color-ts-grey) !important;
  --ion-color-base-rgb: var(--ion-color-ts-grey-rgb) !important;
  --ion-color-contrast: var(--ion-color-ts-grey-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-ts-grey-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-ts-grey-shade) !important;
  --ion-color-tint: var(--ion-color-ts-grey-tint) !important;
  --ion-toolbar-background: var(--ion-color-ts-grey) !important;
}

$font-family-base: 'Roboto', sans-serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-mirabile: #b9271a;
$color-white: #ffffff;
$color-standard: #242222;
$color-standard-note: #4d4a4a;
$color-placeholder: #afafaf;
$color-placeholder-object: #9398a6;
$color-separator: #e0e0e0;
$color-separator-text: #afafaf;
$color-content: #f7f7f7;
$color-black: #000000;
$color-content2: #fafafa;

$color-ordered: #4fa7ed;
$color-confirmed: #5cb99e;
$color-preparing: #ef9d38;
$color-pickup: #98c05c;
$color-cancelled: #de5241;
$color-completed: #677d8a;

$color-ts-red: #ff6060;
$color-ts-blue: #0299ff;
$color-ts-amber: #ffcc66;
$color-ts-green: #99cb67;
$color-ts-grey: #a3a3a3;
